<div class="home-container">
  <div id="info"></div>
  <div id="container" data-controller="map" data-map-areas-value="<%= @areas.to_json %>" data-map-user-value = "<%=@user_address.to_json%>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <div class="landing-banner">
      <div class="banner-content">
        <div class="banner-text">
          <h1 id="banner-title">Tokyo Maps</h1>
          <p>Discover your perfect Tokyo neighborhood now!</p>
        </div>
        <button id="fly-to-tokyo" data-action="click->map#flyTokyo">Explore</button>
      </div>
      <div class="gradient"></div>
      <div class="map-banner" data-map-target="globus"></div>
    </div>
    <%= render "partials/sort" %>
  </div>
  <%= render '/partials/landing-info' %>
</div>
